<div class="form-block">
    <div class="form-group">
        <h1 for="power">Hero Power</h1>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" required
            [(ngModel)]="model.name" name="name">
        </div>
        <div class="mb-3">
            <label for="Super Name" class="form-label">Super Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-4">
            <label for="Super Name" class="form-label">Super Power</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-5">
            <label for="Element" class="form-label">Element</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>