.d-flex{
    flex-wrap: wrap;
    gap: 10px;
}

.selected{
    background: rgb(6, 14, 123);
    border-color: rgb(7, 11, 72);
}

.flex-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}